<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>uvygzba@tznvy.pbz</string>
	<key>contactName</key>
	<string>Hilton Lipschitz</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>ThemeCSV</string>
	<key>uuid</key>
	<string>688E5844-BD19-4113-AF02-5D01912B3593</string>
</dict>
</plist>
